.container{
    width: 800px;
    border:  2px solid grey;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(19, 240, 240);
}
#h2{
    color: rgb(244, 4, 180);
    font-weight: bold;
    text-align: center;
}
.inputFields{
    margin-top: 20px;
}
.result{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
#addition{
    color: rgb(65, 199, 45);
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(47, 185, 231);
    display: block;
    margin-top:60px;
}
#substraction{
    color: rgb(65, 199, 45);
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(47, 185, 231);
    display:block;
    margin-top: 20px;
    margin-right: 60px;
}
#multiplication{
    color: rgb(65, 199, 45);
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(47, 185, 231);
    display: block;
    margin-top: 20px;
    margin-right: 60px;
}
#division{
    color: rgb(65, 199, 45);
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(47, 185, 231);
    display: inline;
    margin-top: 20px;
}
label{
    color: rgb(65, 199, 45);
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}
.fields{
    border: 2px solid rgb(30, 121, 160);
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px 10px 20px 30px;
}